<h1>Add a Badge</h1>
<%= form_for @badge do |f| %>
	<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: :true %>
  </div>
  <div class="form-group">
    <%= f.label :requirements %>
    <%= f.text_field :requirements %>
  </div>
	<%= f.label :trail_ids,  "Which trail(s) is this badge available on?" %><br>
  <%= f.collection_check_boxes :trail_ids, Trail.all, :id, :name %>
 	<%= f.submit class: "btn btn-success" %>
<% end %>