<h1><%= @trail.name %></h1>
<h4>Details:  </h4>
<p><b>Length:  </b><%= @trail.distance %> Miles Roundtrip</p>
<p><b>Summit:  </b><%= @trail.summit %></p></p>
<p><b>Difficulty:  </b><%= @trail.difficulty %></p></p>
<p><b>Description:  </b><%= @trail.description %></p>


<h4>Badges earned from completing this hike: </h4>
<ul>
<% @trail.badges.each do |badge| %>
	<li><%= link_to badge.name, badge_path(badge) %> <%= image_tag badge.image.url(:thumb) %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_trail_path(@trail), :class => 'btn btn-danger' %>
